.contact-section {
  background: linear-gradient(135deg, #f0f0f0, #e0e0e0);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 5px;
  max-width: 30rem;
  text-align: center;
  margin: auto;
}

.contact-section h3 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
  font-weight: bold;
}

.contact-section p {
  font-size: 14px;
  color: #666;
  margin: 5px 0;
}

.contact-section a {
  color: #00aaff;
  text-decoration: none;
}

.contact-section a:hover {
  text-decoration: underline;
}

.contact-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.contact-form label {
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ff3333;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #e62e2e;
    outline: none;
}

.contact-form textarea {
  resize: vertical;
}

.contact-form button {
  background-color: #ff3333;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

.contact-form button:hover {
  background-color: #e62e2e;
}