* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  position: relative;
  height: 450px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/image.jpg") no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: white;
  margin-bottom: 1rem;
  margin: 0 1rem;
  border-radius: 8px;
}

.hero-text {
  line-height: 2rem;
  text-align: center;
}